doctype html
html
  head
    title Blog
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./static/bootstrap.min.css')
    link(rel='stylesheet', href='./static/index.css')

  body
    div.header
      h1 Blog

    div.container
      h3.container_title Posts
      ul.posts
        each post in metadata.inputs
          li.post
            h3.post__title
              a(href=post.path())= post.metadata.title
            h6.post__date= post.metadata.date
            p
              each tag in post.metadata.tags
                span.post__tag= tag

    script(src="./static/bootstrap.min.js")
